@{
    ViewData["Title"] = "Book Library";
}

@model BooksViewModel

@*Dynamically creates navigation buttons at the top of the page*@
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-outline-dark"
    page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>


@*Loops through books in database and displays the information about each book*@
@foreach (Book b in Model.Books)
{
    //Connects to the partial view BookSummary, passes "b" as the model for the partial view to display
    <partial name="BookSummary" model="b"/>
}


@*Creates a div that will be filled with the links that navigate to the new pages*@
<div class="text-center"><div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div></div>
