@*Sets the layout for the other Blazor pagse*@

@inherits LayoutComponentBase

<div class="bg-info text-white p-2">

    <div class="contatiner-fluid">

        <div class="row">

            <div class="col">
                <span class="navbar-brand m-lg-2">Narnes & Boble Administration</span>
            </div>

            @*Creates button for the user to logout of the session*@
            <div class="col-2 text-end">
                <a class="btn btn-small btn-outline-primary bg-white" href="/account/logout">Log Out</a>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        @*Creates the navigation buttons used to switch between pages*@
        <div class="col-3">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/books"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>

                <NavLink class="btn btn-outline-primary" href="/admin/purchases"
                         ActiveClass="btn-primary text-white">Purchases</NavLink>
            </div>

        </div>

        @*Creates a space for the body of the webpage*@
        <div class="col">
            @Body
        </div>

    </div>

</div>
