<Router AppAssembly="typeof(Startup).Assembly">


    @*connector between the Index page and the admin layout page*@
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(AdminLayout)"></RouteView>
    </Found>

    @*Returns an error page if the connection is not found*@
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">No Matching Route Found</h4>
    </NotFound>

</Router>
