@page
@model Mission7Assignment.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home">Continue Shopping</a>
</div>
